@import "global";
.header {
  padding-top: 50px;
  padding-bottom: 100px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__user {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}
.menu {
  transition: all 0.3s ease-in-out;
  &__list {
    display: flex;
  }
  &__item {
    margin: 0 30px;
  }
  &__link {
    position: relative;
    font-family: "Poppins", sans-serif;
    padding-bottom: 5px;
    font-size: 18px;
  }
  &__link::after {
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
  }
  &__link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.posts {
  margin-bottom: 200px;
  &__aside {
    border-left: 1px solid #afafaf;
    padding-left: 30px;
  }
  &__inner {
    display: flex;
  }
  &__box-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }
  &__box {
    max-width: 600px;
    margin-right: 35px;
  }
  &__creator {
    text-transform: uppercase;
  }
  &__info {
    color: #afafaf;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__box-img {
    margin-bottom: 10px;
    object-fit: cover;
  }
  &__box-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__item + &__item {
    margin-top: 50px;
  }
  &__box-text {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
  }
  &__item-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  &__item-info {
    color: #afafaf;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__item-creator {
    text-transform: uppercase;
  }
  &__item-title {
    font-weight: 600;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    margin-bottom: 15px;
  }
  &__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
  }
}
.latest {
  margin-bottom: 200px;
  &__item-info {
    display: flex;
    justify-content: space-between;
    color: #afafaf;
    font-size: 14px;
    margin-bottom: 30px;
  }
  &__item-img {
    width: 100%;
    margin-bottom: 10px;
  }
  &__item {
    margin: 0 50px;
  }
  &__item-creator {
    text-transform: uppercase;
  }
  &__item-title {
    font-size: 27px;
    line-height: 42px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
  }
}
.bestsellers {
  margin-bottom: 200px;
  &__item {
    //width: 370px !important;
    max-width: 100%;
    margin: 0 15px;
  }
  &__item-img {
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
  }
  &__item-title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "Playfair Display", serif;
  }
  &__item-by {
    color: #afafaf;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  &__item-btn {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 10px 0;
    font-weight: 500;
    width: 100%;
    background-color: transparent;
    border: 1px solid #000;
  }
  &__item-btn:hover {
    background-color: #000;
    color: #fff;
  }
}
.articles {
  margin-bottom: 100px;
  &__item {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }
  &__item-img {
    margin-right: 70px;
    width: 300px;
  }
  &__item-title {
    font-family: "Playfair Display", serif;
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__item-text {
    line-height: 26px;
    font-weight: 300;
  }
}
.subscribe {
  margin-bottom: 100px;
  text-align: center;
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 70px;
    line-height: 110px;
    margin-bottom: 20px;
  }
  &__text {
    max-width: 1000px;
    margin: 0 auto 30px;
    font-size: 20px;
    line-height: 34px;
  }
  &__more {
    cursor: pointer;
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px 30px;
    font-size: 24px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
  }
  &__more:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
  }
}
.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  &__title {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__list {
    text-align: right;
  }
  &__item {
    margin: 15px 0;
  }
  &__copyright {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 20px;
  }
  &__link {
    position: relative;
  }
  &__link::after {
    content: "";
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
  }
  &__link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.menu-toggle {
  cursor: pointer;
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: transparent;
  border: none;
  span {
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
  }
  &::before {
    top: 10px;
  }
  &::after {
    bottom: 5px;
  }
}
@import "media";
